@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
.page{
    background-color: darkslateblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.messageContainer {
    margin: 0.5vmin;
    height: 89vh;
    border: black 1vmin solid;
    width: 60vw;
}

.formContainer {
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
    border: 3px white solid;
}


.messageType1 {
    background-color: #333;
    color: white;
    padding: 2vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}

.messageType2 {
    background-color: seagreen;
    color: white;
    padding: 2vmin;
}

.messageInput{
    font-size: 2vmin;
    padding: 1vmin;
    margin: 0.1vmin;
}
.sendButton{
    padding: 1vmin;
    font-size: 2vmin;
    margin: 0.1vmin;
    background-color: #333;
    color: white;
    font-weight: 900;
}